import type React from "react";
import styles from "./index.module.css";

type {{pascalCase name}}PresenterProps = {
  // 必要に応じてpropsを追加
};

export const {{pascalCase name}}Presenter: React.FC<{{pascalCase name}}PresenterProps> = (props) => (
  <div className={styles.container}>
    {{pascalCase name}}Presenter
  </div>
); 