.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0;
}

.logo {
  font-size: var(--font-size-heading-md);
  font-weight: bold;
  line-height: 1;
  position: fixed;
  top: 21px;
  left: var(--spacing-xl);
  z-index: var(--z-index-header);
}

@media screen and (max-width: 1000px) {
  .logo {
    left: var(--spacing-md);
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  position: fixed;
  top: var(--spacing-md);
  right: var(--spacing-xl);
  z-index: var(--z-index-header);
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .nav {
    gap: var(--spacing-xs);
    top: var(--spacing-xs);
    right: var(--spacing-md);
  }
}

.navLinks {
  display: flex;
  gap: var(--spacing-md);
}

@media screen and (max-width: 1000px) {
  .navLinks {
    display: none;
  }
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1000px) {
  .hamburger {
    display: inline-flex;
  }
}

.themeToggleDark {
  display: inline-flex;
}

.themeToggleLight {
  display: none;
}

:global(html.dark) .themeToggleDark {
  display: none;
}

:global(html.dark) .themeToggleLight {
  display: inline-flex;
}

.current {
  color: var(--color-link);
  position: relative;
}
.current::before {
  content: "";
  display: block;
  width: 100%;
  height: var(--spacing-xxs);
  background-color: var(--color-link);
  position: absolute;
  bottom: calc(-1 * var(--spacing-xs));
}

.spMenu {
  display: none;
}

.spMenu.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-background);
  padding: var(--spacing-md);
  z-index: var(--z-index-modal);
}

.close {
    position: fixed;
    top: var(--spacing-xs);
    right: var(--spacing-md);
  }

  .spNav {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);

    a {
      font-size: var(--font-size-heading-md);
      font-weight: bold;
      width: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }
  }