---
import { Icon } from "astro-icon/components";
---

<button aria-label="メニュー" class="hamburger" id="hamburger">
  <Icon name="clarity:menu-line" />
</button>

<script>
  const hamburger = document.getElementById("hamburger");
  const menu = document.getElementById("menu");

  if (hamburger && menu) {
    hamburger.addEventListener("click", () => {
      menu.classList.toggle("open");
    });
  }
</script>

<style></style>
