.breadcrumbs {
  padding: var(--space-2xs) var(--space-s);
  background-color: var(--color-surface);
  height: fit-content;
  width: fit-content;
  border-radius: var(--radius-infinity);
  list-style: none;
  margin: 0;
}

/* TODO: コンポーネントが画面を気にしているのが気持ち悪いため見直す。 */
@media screen and (max-width: 1024px) /* sync with --bp-md */ {
  .breadcrumbs {
    width: 100%;
  }
}

.item {
  display: inline;
}

.item:not(:last-child) {
  margin-right: var(--space-2xs);
}

.item a {
  color: var(--color-link);
  text-decoration: underline;
}

.item svg {
  vertical-align: middle;
  margin-left: var(--space-2xs);
}
