.button {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2xs);
  padding: var(--space-xs) var(--space-s);
  border: solid 1px var(--color-border);
  border-radius: var(--radius-infinity);
  color: var(--color-text);
  background-color: var(--color-surface);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s;
}
.button:hover,
.button:focus {
  background-color: var(--color-accent);
}
