.footer {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-l);
  padding: var(--space-3xl) var(--space-s);
  position: relative;
  z-index: var(--z-index-content);
}

.title {
  font-size: var(--step-2);
  font-weight: 900;
}

.accounts {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-l);
}

@media screen and (max-width: 1024px) /* sync with --bp-md */ {
  .accounts {
    gap: var(--space-m);
  }
  .icon {
    width: 44px;
    height: 44px;
  }
  .iconWantedly {
    width: 62px;
    height: 44px;
  }
}

.icon-wantedly {
  width: 87px;
  height: 60px;
}

.link {
  color: var(--color-link);
  text-decoration: underline;
  position: absolute;
  bottom: var(--space-s);
} 