:root {
  --color-white: #f0f0f0;
  --color-black: #041b47;
  --color-blue: #84c5ea;
}

html {
  background-color: var(--color-blue);
  color: var(--color-black);
  font-family: "Hiragino Kaku Gothic ProN", "Avenir Next", "Helvetica Neue",
    "Helvetica", "Arial", "Meiryo", sans-serif;
}

html.dark {
  background-color: #337ca7;
  color: #fff;
}

.expanded {
  display: unset !important;
}
