---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
import TopAnimation from "../components/TopAnimation.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <TopAnimation />
    <div class="main">hogehoge</div>
  </div>
</BaseLayout>

<script></script>

<style>
  .container {
    width: 100%;
    height: 100%;
    background-color: var(--color-blue);
  }

  .main {
    margin-top: 50svh;
    display: flex;
    justify-content: end;
    gap: 64px;
    width: 100%;
    height: 100%;
    position: relative;
  }
</style>
