---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "トップ";
const pageDescription = "中村優作のポートフォリオサイトです。";
import TopAnimation from "./_components/TopAnimation.astro";
import TopAboutMe from "./_components/TopAboutMe.astro";
import TopProducts from "./_components/TopProducts.astro";
import TopArticles from "./_components/TopArticles.astro";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="container">
    <TopAnimation />
    <div class="background">
      <div class="main">
        <TopAboutMe />
        <TopProducts />
        <TopArticles />
      </div>
    </div>
  </main>
</BaseLayout>

<script></script>

<style>
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-blue);

    .background {
      margin-top: 50vh;
      position: relative;
      z-index: 1000000;
      width: 100%;
      display: flex;
      justify-content: center;
      .main {
        padding: 48px 16px 96px 16px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        max-width: 70rem;
      }
    }
  }

  :global(.stop) .background {
    background-color: var(--color-background);
    margin-top: 0;
  }
</style>
