---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
import TopAnimation from "../components/Top/TopAnimation.astro";
import TopAboutMe from "../components/Top/TopAboutMe.astro";
import TopProducts from "../components/Top/TopProducts.astro";
import TopArticles from "../components/Top/TopArticles.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="container">
    <TopAnimation />
    <div class="main">
      <TopAboutMe />
      <TopProducts />
      <TopArticles />
    </div>
  </main>
</BaseLayout>

<script></script>

<style>
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-blue);
    padding: 0 1rem 6rem 1rem;

    .main {
      margin-top: 50svh;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      position: relative;
      z-index: 1000000;
      max-width: 1120px;
    }
  }
</style>
