---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "メモ";
const pageDescription = "中村優作の学習の記録を残したページです。";
import PageTitle from "../components/PageTitle.astro";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="container">
    <PageTitle title="メモ" />
  </main>

  <style></style></BaseLayout
>
