---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Products Page";
import { products } from "../data/products";
import ProductItem from "../components/ProductItem.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="title">Products</h1>
  <div class="products">
    {products.map((product, index) => (
      <ProductItem 
        index={index + 1}
        image={product.image}
        title={product.title}
        description={product.description}
      />
    ))}
</BaseLayout>

<style>
  .title {
    font-size: 96px;
    font-weight: 700;
  }

  .products {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
  }
</style>