---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const pageTitle = "サイトマップ";
const pageDescription = "中村優作のポートフォリオサイトのサイトマップです。";
import { PageTitle } from "../ui/PageTitle";
const allPosts = await getCollection("posts");
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="container">
    <PageTitle title="サイトマップ" />
    <ul class="links">
      <li><a href="/">トップ</a></li>
      <li><a href="/about/">私について</a></li>
      <li><a href="/products/">プロダクト</a></li>
      <li><a href="/posts/">記事</a></li>
      <ul class="childLinks">
        {
          allPosts.map((post) => (
            <li>
              <a href={`/posts/${post.id.replace(/\/index$/, "")}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </ul>
  </main>
</BaseLayout>

<script></script>

<style>
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-s);
    align-items: center;
    .links {
      padding-top: var(--space-2xl);
      padding-bottom: var(--space-3xl);
      width: 100%;
      max-width: 90rem;
      display: flex;
      flex-direction: column;
      gap: var(--space-s);
      padding-left: var(--space-m);

      li {
        list-style: disc;
        text-decoration: underline;
        color: var(--color-link);
      }

      .childLinks {
        padding-left: var(--space-m);
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs);
      }
    }
  }
</style>
