.button {
  padding: var(--space-xs) var(--space-s);
  border: solid 1px var(--color-border);
  color: var(--color-text);
  background-color: var(--color-surface);
  border-radius: var(--radius-infinity);
  width: fit-content;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
}
.button:hover,
.button:focus {
  background-color: var(--color-accent);
} 