.product {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: var(--spacing-lg);
}
.index-parent {
  position: relative;
  padding-left: 48px;
  width: 100%;
  height: auto;
}
.index {
  font-size: 96px; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
  font-weight: 700;
  position: absolute;
  bottom: -64px;
  left: 0px;
}
.mask {
  overflow: hidden;
  display: block;
  line-height: 0;
  border-radius: var(--radius-md);
  width: 100%;
  aspect-ratio: 8/5;
}
.image {
  border-radius: var(--radius-md);
  aspect-ratio: 8/5;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  object-fit: cover;
}
.texts {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--spacing-md);
  text-align: right;
}
.link {
  text-decoration: none;
  color: inherit;
  font-size: var(--font-size-heading-md);
  font-weight: 700;
}
.product:hover .image {
  transform: scale(1.1);
}
.product:hover .texts {
  color: var(--color-link);
}
.product:hover .index {
  color: var(--color-link);
} 