---
const { currentPage } = Astro.props;
import Navigation from "./children/Navigation.astro";
import ThemeIcon from "./children/ThemeIcon.astro";
---

<header class="header">
  <a href="/" class="logo" aria-label="トップ">Yutteee</a>
  <div class="nav">
    <Navigation currentPage={currentPage} />
    <ThemeIcon />
  </div>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    position: fixed;
    top: 21px;
    left: 32px;
    z-index: 10000000;

    @media screen and (max-width: 1000px) {
      left: 16px;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 16px;
    position: fixed;
    top: 16px;
    right: 32px;
    z-index: 10000000;

    @media screen and (max-width: 1000px) {
      gap: 8px;
      top: 8px;
      right: 16px;
    }
  }
</style>
