---
import Navigation from "./children/Navigation.astro";
import Hamburger from "./children/Hamburger.astro";
import ThemeIcon from "./children/ThemeIcon.astro";
---

<header class="header">
  <a href="/" class="logo">Yutteee</a>
  <nav class="nav">
    <Navigation />
    <ThemeIcon />
  </nav>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000000;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      padding: 1rem;
    }
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @media screen and (max-width: 768px) {
      gap: 1rem;
    }
  }
</style>
