---
import { Image } from "astro:assets";
---

<footer class="footer">
  <h2 class="title">アカウント</h2>
  <div class="accounts">
    <a
      class="account"
      href="https://github.com/yutteee"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Image
        src="/github.png"
        alt="GitHub"
        height="60"
        width="60"
        class="icon"
      />
    </a>
    <a
      href="https://x.com/yutteeeeeeeee"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Image src="/x.png" alt="X" height="60" width="60" class="icon" />
    </a>
    <a
      href="https://qiita.com/yutteee"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Image src="/qiita.png" alt="Qiita" height="60" width="60" class="icon" />
    </a>
    <a
      href="https://zenn.dev/yutteee"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Image src="/zenn.svg" alt="Zenn" height="60" width="60" class="icon" />
    </a>
    <a
      href="https://www.wantedly.com/id/yutteee"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Image
        src="/wantedly.png"
        alt="Wantedly"
        height="60"
        width="87"
        class="icon-wantedly"
      />
    </a>
  </div>
</footer>

<style>
  .footer {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 6rem 1rem;
    position: relative;
    z-index: 100;
  }

  .title {
    font-size: 2rem;
    font-weight: 900;
  }

  .accounts {
    display: flex;
    gap: 2.5rem;
  }

  @media screen and (max-width: 768px) {
    .accounts {
      gap: 1.5rem;
    }
    .icon {
      width: 44px;
      height: 44px;
    }

    .icon-wantedly {
      width: 62px;
      height: 44px;
    }
  }
</style>
