---

---

<div class="nav-links">
  <a href="/products/">products</a>
  <a href="/skills/">skills</a>
  <a href="/articles/">articles</a>
</div>


<style>
  .nav-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration: underline;
  }

</style>