.container {
  width: 100%;
}
.link {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 100%;
}
.mask {
  overflow: hidden;
  display: block;
  line-height: 0;
  aspect-ratio: 40/21;
  width: 100%;
}
.image {
  aspect-ratio: 40/21;
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  object-fit: cover;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.meta {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--font-size-body-sm);
}
.slideBadge {
  background-color: var(--color-link);
  color: var(--color-background);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius-sm);
  font-size: var(--font-size-body-xs);
  font-weight: bold;
}
.title {
  font-size: 1.125rem; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
  font-weight: 700;
}
.icon {
  display: inline;
  vertical-align: -0.125em;
  margin-left: var(--spacing-xxxs);
}
.link:hover .image {
  transform: scale(1.1);
}
.link:hover .texts {
  color: var(--color-link);
} 