.container {
  width: 100%;
}
.link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.mask {
  overflow: hidden;
  display: block;
  line-height: 0;
  aspect-ratio: 40/21;
  width: 100%;
}
.image {
  aspect-ratio: 40/21;
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  object-fit: cover;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.meta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}
.slideBadge {
  background-color: var(--color-link);
  color: var(--color-background);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
}
.title {
  font-size: 1.125rem;
  font-weight: 700;
}
.link:hover .image {
  transform: scale(1.1);
}
.link:hover .texts {
  color: var(--color-link);
} 