---
import LinkButton from "../LinkButton.astro";
---

<div class="about">
  <div class="pc">
    <div class="monitor"></div>
    <div class="keyboard"></div>
  </div>
  <div class="texts">
    <h1 class="title">Nakamura Yusaku</h1>
    <p>
      名古屋大学工学部化学生命工学科の4年生です。<br />
      名古屋のアプリ開発団体jackで活動しており、web開発を楽しんでいます。特にフロントエンドとデザインが好きです。
    </p>
    <LinkButton text="詳細なプロフィール" url="/about/" />
  </div>
</div>

<style>
  .about {
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;

    .pc {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 48px;
      .monitor {
        width: 300px;
        height: 187.5px;
        height: 20svh;
        background-color: var(--color-white);
        border-radius: 16px;
        border: 8px solid var(--color-white);
        position: relative;
      }

      .keyboard {
        width: 150px;
        border-bottom: 30px solid var(--color-white);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 48px;
      .title {
        font-size: 4rem;
        font-weight: 900;
      }
    }
  }
</style>
