.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 70rem;
}
@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-white);
  height: fit-content;
  border-radius: 9999px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  .breadcrumbs {
    width: 100%;
  }
}
.breadcrumbs a {
  color: var(--color-link);
  text-decoration: underline;
}
.title {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  background-color: var(--color-background);
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: 2rem;
  }
}
.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
  bottom: 20%;
}
@media screen and (max-width: 1000px) {
  .line {
    visibility: hidden;
  }
} 