.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 70rem;
}
@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}
.title {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  background-color: var(--color-background);
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: 2rem;
  }
}
.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
  bottom: 20%;
}
@media screen and (max-width: 1000px) {
  .line {
    visibility: hidden;
  }
} 